* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

/* .app {
  background: url("./assets//rainy-bg.jpg");
} */
.app {
  width: 100%;
  height: 100vh;
}
.app__background {
  width: 100%;
  height: 100%;
  background-image: url("./assets/summer-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.control-panel {
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
}

.buttons {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.sound-button {
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 15%;
  background-image: url("assets/rainy-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: border 0.3s ease-in;
}

.sound-button:hover {
  border: 1px solid white;
}

.button__icon {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("./assets//icons//cloud-rain.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.volume {
  align-self: center;
}
